<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/index.css">
    <script defer src="/static/index.js"></script>

    <title>Animaradise</title>
</head>
<body>
    <section class="main" id="menu-sb" style="display: block;">
        <div class="box">
            <h1>Animaradise/アニマラダイス</h1>
            <a href="" id="start-sb"">start</a>
            <a href="">continue</a>
            <a href="">enviroment</a>
        </div>
    </section>

    <section class="main" style="display: none;">
        <div class="box">
            <h1>Animaradise/アニマラダイス</h1>
            <a href="#" onclick="start()">start</a>
            <a href="#">continue</a>
            <a href="#">enviroment</a>
        </div>
    </section>
    
</body>
</html>